<div class="col-sm-10 wrapper">
	<% if @quote  %>
		<em><q><%= @quote.text %></q></em>
		<footer>
	       <cite title="Source Title">
	          - <a href="#"><%= @quote.author %></a>
	       </cite>
	    </footer>
	<% else %>
		<a class="btn btn-primary" href="/add">Add Quotes</a></li>
	<% end %>
</div>