
<% if @quote  %>
	<blockquote class="quotewrapper">
		<p><%= @quote.text %></p>		
		<small><%= @quote.author %></small>
	</blockquote>
<% else %>
	<div class="addbtn">
		<a class="btn btn-primary" href="/add">Add Quotes</a>
	</div>
<% end %>


