@import "bootstrap";

body {
	padding: 70px;
}

.quotewrapper {
    margin-top: 15%;
    margin-left: 10%;
}


.formwrapper{
    box-shadow: 2px 2px 8px #aaa;
    -webkit-box-shadow: 2px 2px 8px #aaa;
    -moz-box-shadow: 2px 2px 8px #aaa;
    background-color: #ffffff;
    padding: 10px;
}

.addbtn {
	text-align: center;
	margin-top: 20%;
}