@import "bootstrap";

body {
	padding: 70px;
	text-align:center;
}

.wrapper {
    margin-top: 20%;
}


.formwrapper{
    box-shadow: 2px 2px 8px #aaa;
    -webkit-box-shadow: 2px 2px 8px #aaa;
    -moz-box-shadow: 2px 2px 8px #aaa;
    background-color: #ffffff;
    padding: 10px;
}